label {
	font-weight: bold;
}

input[type=number]:valid, input[type=text]:valid {
	border-color: green !important;
}

input[type=number]:invalid, input[type=text]:invalid {
	border-color: red !important;
}

textarea, #fileNamePattern, #subfolderNamePattern {
	width: 100%;
}

#positionPicker {
	border-collapse: collapse;
}

#positionPicker td {
	padding: 1em;
}

#positionPicker .image {
	background-color: grey;
}

#positionPicker tr:nth-child(3) td {
	padding: 3em 1em;
}

#positionPicker tr td:nth-child(3) {
	padding: 1em 6em;
}

/*	TODO 	*/
.badge-warning {
	background-color: orangered;
	color: white;
	padding: 0.3em;
	margin: 0.3em;
	border-radius: 0.3em;
	border: 1px solid red;
}

.badge-error {
	background-color: #F52136;
	color: white;
	padding: 0.3em;
	margin: 0.3em;
	border-radius: 0.3em;
	border: 1px solid darkred;
}
